table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
}
.table{
  width: 20px;


}


.table > tbody > tr > td {
  padding: 0px;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
td input {
   box-sizing: border-box;
  border: 0px;
 }

.form-control {
 border:0px;
}


td select {
  width: 100%;
  box-sizing: border-box;
}


