<table>
  <tr>

  </tr>
  <tr>
    <td>

    </td>
  </tr>
</table>


<div class="container">
  <table class="table table-striped">
    <tbody>
    <tr style="width:130px">
      <td><input class="form-control" placeholder='[wybierz salon]' ng-model="$ctrl.salonName" type="text"> </input>
      </td>
      <td style='vertical-align: bottom; width:10px;' rowspan="3"> D</td>


    </tr>
    <tr style="width:140px">
      <td>
        <div style="width:130px" class="dropdown">
          <button style="width:130px" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {{$ctrl.selected}}
            <span ng-if="$ctrl.defaultSelected" class="caret"></span></button>
          <ul style="width:130px" class="dropdown-menu" ng-model="$ctrl.months">
            <li ng-click='$ctrl.ble(month)' ng-repeat="month in $ctrl.months"><a href="#">{{month}}</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td><input ng-change='$ctrl.changeYear()' class="form-control" ng-model="$ctrl.year"
                 type="number"> </input>
      </td>
    </tr>
    <tr ng-repeat='i in $ctrl.numberOfDays track by $index' style="width:130px">
      <td>{{i}}</td>
      <td>{{$index +1}}</td>
    </tr>
    </tbody>
