<div id='timetable' class="container">
    <table class="table table-striped">
        <tbody>
        <tr style="width:130px">
            <th>
                <input class="form-control"
                       placeholder='nazwa salonu'
                       ng-model="$ctrl.salonName" type="text"> </input>
            </th>
            <th style='vertical-align: bottom; width:20px;' rowspan="3"> D</th>
            <th ng-repeat="i in $ctrl.employees track by $index" colspan="4"> Pracownik</th>
            <th>
                <button class="btn btn-default" type="button" ng-click="$ctrl.add()">dodaj nowego pracownika</button>
            </th>
            <th>
                <button class="btn btn-default" type="button" ng-click="$ctrl.exportExcel()">eksportuj excel</button>
            </th>
            <th>
                <button class="btn btn-default" type="button" ng-click="$ctrl.printFile()">drukuj</button>
            </th>
        </tr>
        <tr style="width:140px">
            <th>
                <div style="width:130px" class="dropdown">
                    <button style="width:130px" class="btn btn-default dropdown-toggle" type="button"
                            data-toggle="dropdown">
                        {{$ctrl.selected}}
                    </button>
                    <ul style="width:130px" class="dropdown-menu" ng-model="$ctrl.months">
                        <li ng-click='$ctrl.changeMonth(month)' ng-repeat="month in $ctrl.months"><a
                                href="#">{{month}}</a></li>
                    </ul>
                </div>
            </th>
            <th ng-repeat="i in $ctrl.employees track by $index" colspan="4">
                <input
                        class="form-control"
                        placeholder='wpisz nazwę'
                        ng-model="i.id" type="text">
            </th>
        </tr>
        <tr>
            <th><input ng-change='$ctrl.changeYear()'
                       class="form-control"
                       ng-model="$ctrl.year"
                       type="number"> </input>
            </th>
            <th ng-repeat-start="i in $ctrl.employees track by $index">
                od
            </th>
            <th> do</th>
            <th> H</th>
            <th ng-repeat-end>
                Podpis
            </th>
        </tr>
        <tr ng-repeat='i in $ctrl.numberOfDays track by $index' ng-style="$ctrl.isWeekend(i)? {'background-color': '#D3D3D3'}: {}">
            <td>{{i}}</td>
            <td>{{$index +1}}</td>
            <td ng-repeat-start="emp in $ctrl.employees track by $index">

                <input ng-style="$ctrl.isWeekend(i)? {'background-color': '#D3D3D3'}: {}" ng-change="$ctrl.countSum(emp, $parent.$index)"
                       ng-model='emp.from[$parent.$index]'
                       class="form-control-hours" min="0" max="23" type="number"> </input></td>
            <td><input ng-style="$ctrl.isWeekend(i)? {'background-color': '#D3D3D3'}: {}" ng-change="$ctrl.countSum(emp, $parent.$index)"
                       ng-model='emp.to[$parent.$index]' min="0" max="23"
                       class="form-control-hours" type="number"> </input></td>
            <td>{{emp.sum[$parent.$index]}}</td>
            <td ng-repeat-end><span ng-if="!emp.sum[$parent.$index]">X</span></td>
        </tr>
        <tr>
            <td colspan="2">H/m-c:</td>
            <td colspan="4" ng-repeat="emp in $ctrl.employees track by $index">
                Suma H
            </td>
        </tr>
        <tr>
            <td colspan="2">{{$ctrl.hoursPerMonth}}</td>
            <td colspan="4" ng-repeat="emp in $ctrl.employees track by $index">
                {{emp.totalSum}}
            </td>
        </tr>
        <tr>
            <td colspan="2">Pozostało H:</td>
            <td colspan="4" ng-repeat="emp in $ctrl.employees track by $index">
                {{emp.totalSum - $ctrl.hoursPerMonth }}
            </td>
        </tr>
        </tbody>
    </table>
    <div id="toPrint" ng-show='false'>
        <table>
            <tbody>
            <tr>
                <th ng-style="$ctrl.printStyle">{{$ctrl.salonName}}</th>
                <th ng-style="$ctrl.printStyle" rowspan="3"> D</th>
                <th ng-style="$ctrl.printStyle" ng-repeat="i in $ctrl.employees track by $index" colspan="4">
                    Pracownik
                </th>
            </tr>
            <tr>
                <th ng-style="$ctrl.printStyle"> {{$ctrl.selected}}</th>
                <th ng-style="$ctrl.printStyle" ng-repeat="i in $ctrl.employees track by $index" colspan="4">
                    {{i.id}}
                </th>
            </tr>
            <tr>
                <th ng-style="$ctrl.printStyle">{{$ctrl.year}}</th>
                <th ng-style="$ctrl.printStyle" ng-repeat-start="i in $ctrl.employees track by $index">
                    od
                </th>
                <th ng-style="$ctrl.printStyle"> do</th>
                <th ng-style="$ctrl.printStyle"> H</th>
                <th ng-style="$ctrl.printStyle" ng-repeat-end>
                    Podpis
                </th>
            </tr>
            <tr ng-repeat='i in $ctrl.numberOfDays track by $index'>
                <td ng-style="$ctrl.printStyle">{{i}}</td>
                <td ng-style="$ctrl.printStyle">{{$index +1}}</td>
                <td ng-style="$ctrl.printStyle" ng-repeat-start="emp in $ctrl.employees track by $index">
                    {{emp.from[$parent.$index]}}
                </td>
                <td ng-style="$ctrl.printStyle">{{emp.to[$parent.$index]}}</td>
                <td ng-style="$ctrl.printStyle">{{emp.sum[$parent.$index]}}</td>
                <td ng-style="$ctrl.printStyle" ng-repeat-end><span ng-if="!emp.sum[$parent.$index]">X</span></td>
            </tr>
            <tr>
                <td ng-style="$ctrl.printStyle" colspan="2">H/m-c:</td>
                <td ng-style="$ctrl.printStyle" colspan="4" ng-repeat="emp in $ctrl.employees track by $index">
                    Suma H
                </td>
            </tr>
            <tr>
                <td ng-style="$ctrl.printStyle" colspan="2">{{$ctrl.hoursPerMonth}}</td>
                <td ng-style="$ctrl.printStyle" colspan="4" ng-repeat="emp in $ctrl.employees track by $index">
                    {{emp.totalSum}}
                </td>
            </tr>
            <tr>
                <td ng-style="$ctrl.printStyle" colspan="2">Pozostało H:</td>
                <td ng-style="$ctrl.printStyle" colspan="4" ng-repeat="emp in $ctrl.employees track by $index">
                    {{emp.totalSum - $ctrl.hoursPerMonth }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>