table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

.table {
  width: 20px;
}

.btn-default {
  border-color: white;
  border-radius: 0px;
}
.table > tbody > tr > td {
  padding: 0px;
  text-align: center;

}
.form-control-hours {
  width:60px;
}

.table > tbody > tr > th {
  padding: 0px;
  text-align: center;

}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

td input {
  box-sizing: border-box;
  border: 0px;
  text-align: center;
}

th input {
  box-sizing: border-box;
  border: 0px;
  text-align: center;
}

.form-control {
  border: 0px;
}

td select {
  width: 100%;
  box-sizing: border-box;
}

th select {
  width: 100%;
  box-sizing: border-box;
}


