<table>
  <tr>

  </tr>
  <tr>
    <td>

    </td>
  </tr>
</table>


<div class="container">
  <table class="table table-striped">
    <tbody>
    <tr>
      <td><input class="form-control" placeholder='Wpisz nazwe salonu' ng-model="$ctrl.salonName" type="text"> </input>
      </td>
    </tr>
    <tr>
     <td>
       <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{$ctrl.selected}}
           <span class="caret"></span></button>
         <ul class="dropdown-menu" ng-model="$ctrl.months">
           <li ng-click='$ctrl.ble(month)'ng-repeat="month in $ctrl.months"><a href="#">{{month}}</a></li>
         </ul>
       </div>
     </td>
    </tr>
    <tr>

    </tr>
    </tbody>


{{$ctrl.salonName}}


<table ng-model="$ctrl.names">
  <tr ng-repeat="x in $ctrl.names | orderBy : 'Country'">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
    <td><input class="form-control" ng-change="$ctrl.ble($ctrl.names)" ng-model="x.number" type="number"> </input></td>
    <!--<td>fff: {{x.number}}</td>-->
  </tr>
</table>


<!--<div class="finder">-->
<!--<h1>Find flight</h1>-->
<!--From:-->
<!--<input type="text" ng-model-options="{ debounce: 1000 }"-->
<!--ng-change="$ctrl.validate($ctrl.selectStart.model)"-->

<!--list="possibleStart" placeholder="Country,city or airport"-->
<!--ng-model="$ctrl.selectStart.model"/>-->
<!--<datalist id="possibleStart">-->
<!--<option ng-repeat="option in $ctrl.selectStart.availableOptions" value="{{option.name}}">-->
<!--</datalist>-->

<!--To:-->
<!--<input type="text" ng-model-options="{ debounce: 1000 }"-->
<!--list="possibleEnd" placeholder="Country,city or airport"-->
<!--ng-model="$ctrl.selectEnd.model"/>-->
<!--<datalist id="possibleEnd">-->
<!--<option ng-repeat="option in $ctrl.selectEnd.availableOptions" value="{{option.name}}">-->
<!--</datalist>-->

<!--Date from:-->
<!--<input type="date" ng-model="$ctrl.startDate"-->
<!--placeholder="yyyy-MM-dd"/>-->
<!--Date to:-->
<!--<input type="date" ng-model="$ctrl.endDate"-->
<!--placeholder="yyyy-MM-dd"/>-->
<!--<button ng-click="$ctrl.find()"-->
<!--ng-disabled="!($ctrl.startDate && $ctrl.endDate && $ctrl.selectEnd.model && $ctrl.selectStart.model)">Find-->
<!--flight-->
<!--</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<div>-->
<!--<textarea ng-list="&#10;"-->
<!--class="console ng-pristine ng-valid ng-not-empty ng-touched"-->
<!--ng-trim="false" readonly="" rows="15" ng-model="$ctrl.logs"></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
