<navbar></navbar>
<h1>{{ $ctrl.name }}</h1>
{{$ctrl.data(3)}}
<input id="color" list="suggestions">
<datalist id="suggestions">
  <option value="Black">
  <option value="Red">
  <option value="Green">
  <option value="Blue">
  <option value="White">
</datalist>
<section>
  About us.ddddd
</section>
<div id="ble"> <label>
  Last name:
  <input id="a" type="text" name="lastName" ng-model="$ctrl.last"
         ng-minlength="3" ng-maxlength="10">
</label>


  <select name="repeatSelect" id="repeatSelect" ng-model="$ctrl.data.model">
    <option ng-repeat="option in $ctrl.data.availableOptions" value="{{option.id}}">{{option.name}}</option>
  </select>
  <tt>model = {{$ctrl.data.model}}</tt><br/>
</div>
{{$ctrl.last}}</div>



