.about {
  color: black;
}
.div {
  height: 100px;
  background-color: red;
  background-image:
          radial-gradient(
                          circle closest-side,
                          yellow,
                          #f06d06
          );
}
#ble {
  height: 500px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7f95e+0,3630f2+98 */
  background: #e7f95e; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #e7f95e 0%, #3630f2 98%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #e7f95e 0%,#3630f2 98%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #e7f95e 0%,#3630f2 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f95e', endColorstr='#3630f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#a {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
